<a href="https://colab.research.google.com/github/pablosoria7/Python/blob/main/Industria_petrolera.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install geopandas
!pip install mapclassify

Requirement already satisfied: geopandas in /usr/local/lib/python3.10/dist-packages (0.13.2)
Requirement already satisfied: fiona>=1.8.19 in /usr/local/lib/python3.10/dist-packages (from geopandas) (1.9.4.post1)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from geopandas) (23.1)
Requirement already satisfied: pandas>=1.1.0 in /usr/local/lib/python3.10/dist-packages (from geopandas) (1.5.3)
Requirement already satisfied: pyproj>=3.0.1 in /usr/local/lib/python3.10/dist-packages (from geopandas) (3.6.0)
Requirement already satisfied: shapely>=1.7.1 in /usr/local/lib/python3.10/dist-packages (from geopandas) (2.0.1)
Requirement already satisfied: attrs>=19.2.0 in /usr/local/lib/python3.10/dist-packages (from fiona>=1.8.19->geopandas) (23.1.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.10/dist-packages (from fiona>=1.8.19->geopandas) (2023.7.22)
Requirement already satisfied: click~=8.0 in /usr/local/lib/python3.10/dist-packages (from fiona>=1.8.19->geopandas) (8.1.6)
Requirement already satisfied: click-plugins>=1.0 in /usr/local/lib/python3.10/dist-packages (from fiona>=1.8.19->geopandas) (1.1.1)
Requirement already satisfied: cligj>=0.5 in /usr/local/lib/python3.10/dist-packages (from fiona>=1.8.19->geopandas) (0.7.2)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from fiona>=1.8.19->geopandas) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.1.0->geopandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.1.0->geopandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.1.0->geopandas) (1.23.5)
Requirement already satisfied: mapclassify in /usr/local/lib/python3.10/dist-packages (2.6.0)
Requirement already satisfied: scipy>=1.0 in /usr/local/lib/python3.10/dist-packages (from mapclassify) (1.10.1)
Requirement already satisfied: numpy>=1.3 in /usr/local/lib/python3.10/dist-packages (from mapclassify) (1.23.5)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.10/dist-packages (from mapclassify) (1.2.2)
Requirement already satisfied: pandas>=1.0 in /usr/local/lib/python3.10/dist-packages (from mapclassify) (1.5.3)
Requirement already satisfied: networkx in /usr/local/lib/python3.10/dist-packages (from mapclassify) (3.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0->mapclassify) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0->mapclassify) (2023.3)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from scikit-learn->mapclassify) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn->mapclassify) (3.2.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas>=1.0->mapclassify) (1.16.0)

In [ ]:
import os
import pandas as pd
import geopandas as gpd
import matplotlib
from matplotlib import font_manager as fm

In [ ]:
### FONTS
bse = '/content/drive/My Drive/ttf/'
def Font(d, s=None):
    fpath = os.path.join(matplotlib.get_data_path(), d)
    return fm.FontProperties(fname=fpath, size=s)
title = Font(d=bse + 'M Ying Hei PRC W48 W7.ttf')
subtitle = Font(d=bse + 'Varta-Regular.ttf')
legend = Font(d=bse + 'News Gothic WGL W01 Regular.ttf', s=16)
ticks = Font(d=bse + 'Sirichana W31.ttf')

In [ ]:
datafile = "/content/drive/My Drive/oil-proved-reserves.csv"
shapefile ='/content/drive/My Drive/asdfasdf/ne_10m_admin_0_countries_lakes.shp'
df = pd.read_csv(datafile)
gdf = gpd.read_file(shapefile)[['ADMIN', 'ADM0_A3', 'geometry']].to_crs('+proj=robin')

#Rename columns.
gdf.columns = ['country', 'country_code', 'geometry']
print(gdf.head(), gdf.info())
#Drop row corresponding to 'Antarctica'
gdf = gdf.drop(gdf[gdf['country'] == 'Antarctica'].index)
#Filter data for year 2018.
df_2018 = df[df['Year'] == 2018]

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 255 entries, 0 to 254
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   country       255 non-null    object
 1   country_code  255 non-null    object
 2   geometry      255 non-null    geometry
dtypes: geometry(1), object(2)
memory usage: 6.1+ KB
     country country_code                                           geometry
0  Indonesia          IDN  MULTIPOLYGON (((11108970.260 445285.130, 11108...
1   Malaysia          MYS  MULTIPOLYGON (((11108970.260 445285.130, 11108...
2      Chile          CHL  MULTIPOLYGON (((-6477059.899 -1872360.838, -64...
3    Bolivia          BOL  POLYGON ((-6477059.899 -1872360.838, -6477072....
4       Peru          PER  MULTIPOLYGON (((-6477059.899 -1872360.838, -64... None

In [ ]:
#Data cleaning
df_2018.loc[df_2018.Code.isna()]

                              Entity Code  Year  Oil proved reserves - BBL
38                            Africa  NaN  2018               1.714635e+10
79                       Africa (EI)  NaN  2018               1.714635e+10
243                             Asia  NaN  2018               1.249183e+11
284                Asia Pacific (EI)  NaN  2018               6.261606e+09
478                         CIS (EI)  NaN  2018               1.986868e+10
877                           Europe  NaN  2018               1.660607e+10
918                      Europe (EI)  NaN  2018               1.981159e+09
959              European Union (27)  NaN  2018               3.247925e+08
1041           High-income countries  NaN  2018               1.069248e+11
1399            Low-income countries  NaN  2018               1.636800e+09
1440   Lower-middle-income countries  NaN  2018               3.166675e+10
1563                Middle East (EI)  NaN  2018               1.137390e+11
1645                   Non-OECD (EI)  NaN  2018               2.008347e+11
1686                   Non-OPEC (EI)  NaN  2018               7.133328e+10
1727                   North America  NaN  2018               3.359987e+10
1768              North America (EI)  NaN  2018               3.356673e+10
1850                       OECD (EI)  NaN  2018               3.597533e+10
1891                       OPEC (EI)  NaN  2018               1.654768e+11
1932                         Oceania  NaN  2018               3.260426e+08
2208                   South America  NaN  2018               4.413516e+10
2258  South and Central America (EI)  NaN  2018               4.424652e+10
2668   Upper-middle-income countries  NaN  2018               9.555543e+10

In [ ]:
df_2018 = df_2018.dropna()

In [ ]:
#Merge dataframes gdf and df_2018.
merged = gdf.merge(df_2018, left_on = 'country_code', right_on = 'Code', how = 'right')
merged

,country,country_code,geometry,Entity,Code,Year,Oil proved reserves - BBL
0,Algeria,DZA,"POLYGON ((-443236.337 2673269.864, -459084.144...",Algeria,DZA,2018,1.664080e+09
1,Angola,AGO,"MULTIPOLYGON (((1233646.002 -495756.646, 12328...",Angola,AGO,2018,1.113024e+09
2,Argentina,ARG,"MULTIPOLYGON (((-5516294.069 -5568444.259, -55...",Argentina,ARG,2018,3.255674e+08
3,Australia,AUS,"MULTIPOLYGON (((11866340.640 -3380326.772, 118...",Australia,AUS,2018,3.260426e+08
4,Azerbaijan,AZE,"MULTIPOLYGON (((3894353.087 4391222.460, 38979...",Azerbaijan,AZE,2018,9.548000e+08
5,Brazil,BRA,"MULTIPOLYGON (((-5222198.318 -3228130.673, -52...",Brazil,BRA,2018,1.832576e+09
6,Brunei,BRN,"MULTIPOLYGON (((10863895.139 524974.992, 10864...",Brunei,BRN,2018,1.500400e+08
7,Canada,CAN,"MULTIPOLYGON (((-6948269.713 7076902.806, -694...",Canada,CAN,2018,2.328787e+10
8,Chad,TCD,"POLYGON ((1318693.824 1398715.942, 1296770.780...",Chad,TCD,2018,2.046000e+08
9,China,CHN,"MULTIPOLYGON (((7341533.511 3229629.092, 73418...",China,CHN,2018,3.572328e+09
10,Colombia,COL,"MULTIPOLYGON (((-7446457.988 153402.447, -7444...",Colombia,COL,2018,2.430932e+08
11,Republic of the Congo,COG,"POLYGON ((1758470.348 371857.787, 1759259.848 ...",Congo,COG,2018,4.067448e+08
12,Denmark,DNK,"MULTIPOLYGON (((683824.701 5827887.204, 684359...",Denmark,DNK,2018,6.005511e+07
13,Ecuador,ECU,"MULTIPOLYGON (((-7446457.988 153402.447, -7440...",Ecuador,ECU,2018,1.776674e+08
14,Egypt,EGY,"MULTIPOLYGON (((3093872.093 3338162.433, 30950...",Egypt,EGY,2018,4.360708e+08
15,Equatorial Guinea,GNQ,"MULTIPOLYGON (((925506.341 250453.823, 926595....",Equatorial Guinea,GNQ,2018,1.500400e+08
16,Gabon,GAB,"MULTIPOLYGON (((1255648.639 231129.280, 125569...",Gabon,GAB,2018,2.728000e+08
17,India,IND,"MULTIPOLYGON (((6915098.813 3796247.587, 69170...",India,IND,2018,6.106051e+08
18,Indonesia,IDN,"MULTIPOLYGON (((11108970.260 445285.130, 11108...",Indonesia,IDN,2018,4.302465e+08
19,Iran,IRN,"MULTIPOLYGON (((3908412.382 4238074.506, 39087...",Iran,IRN,2018,2.122384e+10
20,Iraq,IRQ,"POLYGON ((3950967.653 3972018.815, 3950272.163...",Iraq,IRQ,2018,1.978059e+10
21,Italy,ITA,"MULTIPOLYGON (((591248.018 4902251.079, 595151...",Italy,ITA,2018,7.828984e+07
22,Kazakhstan,KAZ,"MULTIPOLYGON (((7205476.061 5232097.897, 71941...",Kazakhstan,KAZ,2018,4.092000e+09
23,Kuwait,KWT,"MULTIPOLYGON (((4348860.137 3207919.051, 43497...",Kuwait,KWT,2018,1.384460e+10
24,Libya,LBY,"POLYGON ((1032005.405 3548875.011, 1033885.807...",Libya,LBY,2018,6.596713e+09
25,Malaysia,MYS,"MULTIPOLYGON (((11108970.260 445285.130, 11108...",Malaysia,MYS,2018,3.726175e+08
26,Mexico,MEX,"MULTIPOLYGON (((-8909803.944 2777084.668, -891...",Mexico,MEX,2018,8.817128e+08
27,Nigeria,NGA,"MULTIPOLYGON (((337689.306 1250885.400, 342502...",Nigeria,NGA,2018,5.042981e+09
28,Norway,NOR,"MULTIPOLYGON (((1415990.770 7188840.824, 13982...",Norway,NOR,2018,1.179112e+09
29,Oman,OMN,"MULTIPOLYGON (((5167978.988 2709204.610, 51707...",Oman,OMN,2018,7.328772e+08
30,Peru,PER,"MULTIPOLYGON (((-6477059.899 -1872360.838, -64...",Peru,PER,2018,1.171526e+08
31,Qatar,QAT,"POLYGON ((4673149.059 2646702.898, 4674857.560...",Qatar,QAT,2018,3.443282e+09
32,Romania,ROU,"POLYGON ((1901989.135 5113653.794, 1903621.061...",Romania,ROU,2018,8.184000e+07
33,Russia,RUS,"MULTIPOLYGON (((7242168.542 5240460.510, 72342...",Russia,RUS,2018,1.462491e+10
34,Saudi Arabia,SAU,"MULTIPOLYGON (((4673149.059 2646702.898, 46809...",Saudi Arabia,SAU,2018,4.060232e+10
35,NaN,NaN,None,South Sudan,SSD,2018,4.774000e+08
36,Sudan,SDN,"MULTIPOLYGON (((2148172.823 1167824.446, 21515...",Sudan,SDN,2018,2.046000e+08
37,Syria,SYR,"POLYGON ((3212672.413 3502148.029, 3214664.643...",Syria,SYR,2018,3.410000e+08
38,Thailand,THA,"MULTIPOLYGON (((9663702.684 1245551.468, 96627...",Thailand,THA,2018,3.991064e+07
39,Trinidad and Tobago,TTO,"MULTIPOLYGON (((-5733313.106 1144317.884, -573...",Trinidad and Tobago,TTO,2018,3.314274e+07
40,Tunisia,TUN,"MULTIPOLYGON (((1032005.405 3548875.011, 10322...",Tunisia,TUN,2018,5.797000e+07
41,Turkmenistan,TKM,"MULTIPOLYGON (((5443028.339 3809396.491, 54401...",Turkmenistan,TKM,2018,8.184000e+07
42,United Arab Emirates,ARE,"MULTIPOLYGON (((5166149.593 2740899.438, 51682...",United Arab Emirates,ARE,2018,1.333992e+10
43,United Kingdom,GBR,"MULTIPOLYGON (((-571378.821 5845369.471, -5722...",United Kingdom,GBR,2018,3.682800e+08
44,United States of America,USA,"MULTIPOLYGON (((-7836976.850 5261589.018, -783...",United States,USA,2018,9.397142e+09
45,Uzbekistan,UZB,"MULTIPOLYGON (((6250682.401 4275255.664, 62513...",Uzbekistan,UZB,2018,8.102160e+07
46,Venezuela,VEN,"MULTIPOLYGON (((-5650798.003 915295.627, -5645...",Venezuela,VEN,2018,4.143911e+10
47,Vietnam,VNM,"MULTIPOLYGON (((10060615.963 1572682.727, 1006...",Vietnam,VNM,2018,6.001600e+08
48,NaN,NaN,None,World,OWID_WRL,2018,2.368100e+11
49,Yemen,YEM,"MULTIPOLYGON (((4831582.096 2031617.130, 48323...",Yemen,YEM,2018,4.092000e+08